<div class="row">
  <div clas="col-md-3">
    <img ng-src="{{patient.photo | dataUrl}}" class="person-photo large"/>
  </div>
  <div clas="col-md-9">
    <h1> {{ patient.name[0] | humanName }}
      <br/>
      {{patient.gender.coding[0].code || '~'}}/{{ patient.birthDate | age}}</h1>
  </div>
</div>

<div>
  <div class="col-xs-2"><h4>Updated</h4></div><div class="col-xs-10"><h4>History Record</h4></div>
</div>
<div ng-repeat="entry in history.entry | orderBy:'updated':true" class="small">
  <div class="col-xs-2">{{entry.updated | date:'MM/dd/yyyy @ h:mma'}}</div>
  <div class="col-xs-10">
    <b>Patient info:</b>
    <span>MRN: </span><span>{{entry.content.identifier[0].value}},</span>
    <span>Gender: </span><span>{{entry.content.gender.text}},</span>
    <span>Birth Date: </span><span>{{entry.content.birthDate}},</span>
    <b>Names: </b>
    <span ng-repeat="nm in entry.content.name">
    <span>{{nm.use+", "+nm.family.join(' ')+", "+nm.given.join(' ')}},</span>
    </span>
    <b>Telecom: </b>
    <span ng-repeat="tm in entry.content.telecom">
    <span>{{tm.system+", "+tm.use+", "+tm.value}},</span>
    </span>
    <b>Address</b>
    <span ng-repeat="ad in entry.content.address">
    <span>{{ad.use+", "+ad.line.join(' ')+", "+ad.city+", "+ad.state+", "+ad.zip+", "+ad.country}},</span>
    </span>
  </div>
</div>

<!--
Patient Info
MRN entry.content.identifier[0].value
Gender entry.content.gender.text or entry.content.gender.coding.code
Photo entry.content.photo.data
Birth Date entry.content.birthDate

Names (multiple) entry.content.name[]
Use entry.content.name[].use
Family (multiple) entry.content.name[].family[]
Given (multiple) entry.content.name[].given[]

Telecoms (multiple) entry.content.telecom[]
System entry.content.telecom[].system
Use entry.content.telecom[].use
Telecom entry.content.telecom[].value

Addresses (multiple) entry.content.address[]
Use entry.content.address[].use
Line (multiple) entry.content.address[].line[]
City entry.content.address[].city
State entry.content.address[].state
Zip entry.content.address[].zip
Country entry.content.address[].country

Active entry.content.active
-->
<!-- <code><pre> {{ patient | json}} </pre></code> -->
