<div class="well">
  <form ng-submit="search()">
    <input class="form-control search" ng-model="query" placeholder="Search by name or mrn"/>
  </form>
</div>
<table class="table table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age/Bith Date</th>
      <th>MRN</th>
    </tr>
  </thead>
  <tr ng-repeat="pt in patients">
    <td>
      <img alt="photo" ng-src="{{pt.photo | dataUrl}}" class="person-photo small"/>
      <a href="{{pt | urlFor}}"> {{pt.name | humanName }}</a>
    </td>
    <td> {{pt.gender.coding[0].display }} </td>
    <td> {{pt.birthDate | age}} / {{pt.birthDate}}</td>
    <td> {{pt.identifier | mrn}}</td>
  </tr>
</table>
