<div class="well">
  <form ng-submit="search()">
    <input class="form-control search" ng-model="query" />
  </form>
</div>

<table class="table table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age/Bith Date</th>
      <th>MRN</th>
    </tr>
  </thead>
  <tr ng-repeat="pt in patients">
    <td>
      <img ng-src="{{pt.photo | dataUrl}}" class="person-photo small"/>
      <a href="#/patients/{{pt._id}}"> {{pt.name | humanName }}</a>
    </td>
    <td> {{pt.gender.coding[0].display }} </td>
    <td> {{pt.birthDate | age}} / {{pt.birthDate}}</td>
    <td> {{pt.identifier | mrn}}</td>
    <!-- <td> <pre>{{pt | json}}</pre></td> -->
  </tr>
</table>
