<div class="row">
  <div clas="col-md-3">
    <img ng-src="{{patient.photo | dataUrl}}" class="person-photo large"/>
  </div>
  <div clas="col-md-9">
    <h1> {{ patient.name[0] | humanName }}
      <br/>
      {{patient.gender.coding[0].code || '~'}}/{{ patient.birthDate | age}}</h1>
  </div>
</div>

<div>
  <h3>Weight Record</h3>
</div>
<div ng-repeat="entry in observations.entry | orderBy:'content.appliesDateTime':false" class="small">
  <div class="col-xs-3">Recorded: {{entry.content.appliesDateTime | date:'MM/dd/yyyy @ h:mma'}}</div>
  <div class="col-xs-9">
    <span>Weight: </span><span>{{entry.content.valueQuantity.value+" "+entry.content.valueQuantity.units}}</span>
  </div>
</div>

<br><br>

<h3>FHIR resource</h3>
<pre>{{observations | json}}</pre>